<div id="modal--{{id}}" class="modal preview-image">
  <div class="modal-wrap">
    <div class="modal-inner">
      <div class="md-close" data-id="{{id}}"><span>x</span></div>
      <div class="image-wrap">
        <img src="{{ pre_image.last }}" alt="preview image">
      </div>
    </div>
  </div>
</div> 