<script>
  var baseImage
  var baseImageGray
  var listenerAdded = false;
  var rotated = false;
  var allProducts = []
  var handles = [
    [0, '/products/8x8-metal-photo-print.js'],
    [1, '/products/8x10-metal-photo-print.js'],
    [2, '/products/10x8-metal-photo-print.js'],
    [3, '/products/11x14-metal-photo-print.js'],
    [4, '/products/14x11-metal-photo-print.js'],
    [5, '/products/12x18-metal-photo-print.js'],
    [6, '/products/18x12-metal-photo-print.js'],
    [7, '/products/16x16-metal-photo-print.js'],
    [8, '/products/16x20-metal-photo-print.js'],
    [9, '/products/20x16-metal-photo-print.js'],
    [10, '/products/20x24-metal-photo-print.js'],
    [11, '/products/24x20-metal-photo-print.js'],
    [12, '/products/20x30-metal-photo-print.js'],
    [13, '/products/30x20-metal-photo-print.js'],
    [14, '/products/24x36-metal-photo-print.js'],
    [15, '/products/36x24-metal-photo-print.js'],
  ]


  imageUploaded = false;
  var grayscaled = false
  $(document).ready(function () {
    $('#atcwrapper').click(function () {
      $('#loadingButton').removeClass('is_hidden')
      $('#atcwrapper').hide()
      var button = document.querySelector('#loadingButton');
      var content = document.querySelector('#loadingButtonContent');
      setTimeout(function () {
        content.textContent = 'Processing Image'
        var counter = 0;
        var loadingDotInterval = setInterval(function () {
          if (counter == 30) {
            console.log('adding newline')
            content.textContent = content.textContent + '\n'
          }
          if (counter > 48) {
            clearInterval(loadingDotInterval)
          }
          counter++
          if (counter < 30) {
            content.textContent = 'Processing Image' + '.'.repeat(counter)
          } else {
            content.textContent = 'Processing Image...................................\n' + '.'.repeat(counter - 30)
          }
        }, 2000)
      }, 5000)
    })
    var sizetext = window.location.pathname.split('/').pop().split('-')[0]
    $('.' + sizetext).addClass('is_selected')

    //load popular sizes info
    $('.currency_symbol').text('$')

    handles.map(handle => {
      $.getJSON(handle[1], function (product) {
        allProducts[handle[0]] = product
      })
    })

    console.log(allProducts)
    //Put in popular-size prices
    var allProductInfoLoaded = setInterval(function () {
      if (handles.length === allProducts.length) {

        clearInterval(allProductInfoLoaded)

        for (var j = 0; j < handles.length; j++) {
          $('.option_price:eq(' + j + ')').text((allProducts[j].price / 100).toFixed(2))
          $('.option_compare_price:eq(' + j + ')').text('$' + (allProducts[j].compare_at_price / 100).toFixed(2))
        }
      }
    }, 1000)


    //Change Size
    $('.size-select-box').click(function () {
      if (!$(this).hasClass('is_selected')) {
        $('#grayscale span').text('Change to Black and White')
        grayscaled = false
        rotated = false
        $('body .product-single__photos').addClass('is_loading')
        $('#customily-cart-btn').addClass('button_lockout')
        $('.size-select-box').removeClass('is_selected')
        $(this).addClass('is_selected')
        var regex = /([0-9])+/gm
        var canvasDimensions = $(this).find('.size_text').text().match(regex)
        var canvasHeight = canvasDimensions[0]
        var canvasWidth = canvasDimensions[1]
        var newHandle = canvasHeight + 'x' + canvasWidth + '-metal-photo-print'
        $.getJSON("/products/" + newHandle + '.js', function (product) {
          $('#productTitle').text(product.title)
          $('.hidden_sel').first().val(product.variants[0].id)
          window.customily.options.handle = newHandle
          window.customily.initialize()
          if (!listenerAdded) {
            listenerAdded = true;
            engraver.canvasWrapper.addEventListener('productLoaded', function () {
              engraver.setImage(1, baseImage)
            })
          }
        })
        var imageFullyUploaded = setInterval(function () {
          if (engraver.initReady) {
            var fileInput = $('.customily-file-input input').last()
            setTimeout(function () {
              $('#customily-cart-btn').removeClass('button_lockout')
              $('body .product-single__photos').removeClass('is_loading')
            }, 1000)
            clearInterval(imageFullyUploaded)
          }
        }, 500)
      }
    })


    //Get the uploaded 
    var detectCustomily = setInterval(function () {
      if ($('.customily-file-input').length > 0) {
        clearInterval(detectCustomily)
        customilyLoaded()
      }
    }, 500)

    function customilyLoaded() {
      $('.customUploadBtn').click(function () {
        $('.customily-file-input input').last().click()
      })
      $('#change-btn').click(function () {
        $('.customily-file-input input').last().click()
      })
      $('.customily-file-input input').last().change(function (e) {
        $('#grayscale span').text('Change to Black and White')
        grayscaled = false
        rotated = false
        if (!imageUploaded) {
          $('.customily-mobile-controls').first().prepend('<div class="custom-btns--wrap"><div id="grayscale"><span>Change to Black and White</span></div><div id="rotate"><span>Rotate Canvas</span></div></div>')
          $('#rotate').click(function () {
            rotateCanvas()
          })
          $('#grayscale').click(function () {
            grayscale()
          })
          imageUploaded = true
        }
        $('.product-main--contents .product-single__photos').addClass('photo_loaded')
        $('.post-upload').show()
        $('.pre-upload').hide()
        var imageFile = e.target.files[0]
        $('#filename').text(imageFile.name)
        var reader = new FileReader()
        reader.readAsDataURL(imageFile)
        reader.onload = function () {
          baseImage = reader.result
          var cnv = document.getElementById("output")
          var cnx = cnv.getContext("2d")
          var img = new Image()
          img.src = baseImage
          img.onload = function () {
            cnv.width = img.width
            cnv.height = img.height
            var width = img.width
            var height = img.height
            cnx.drawImage(img, 0, 0)
            var imgPixels = cnx.getImageData(0, 0, width, height)
            for (var y = 0; y < height; y++) {
              for (var x = 0; x < width; x++) {
                var i = (y * 4) * width + x * 4
                var avg = (imgPixels.data[i] + imgPixels.data[i + 1] + imgPixels.data[i + 2]) / 3
                imgPixels.data[i] = avg
                imgPixels.data[i + 1] = avg
                imgPixels.data[i + 2] = avg
              }
            }
            cnx.putImageData(imgPixels, 0, 0, 0, 0, imgPixels.width, imgPixels.height)
            baseImageGray = cnv.toDataURL()
          }
        }
      })
    }
  })
  function grayscale() {
    if (grayscaled) {
      grayscaled = false;
      $('#grayscale span').text('Change to Black and White')
      engraver.setImage(1, baseImage)
    }
    else {
      grayscaled = true;
      $('#grayscale span').text('Change to Color')
      engraver.setImage(1, baseImageGray)
    }
  }

  function rotateCanvas() {
    var regex = /([0-9])+/gm
    var canvasDimensions = $('.size-select-box.is_selected').first().find('.size_text').text().match(regex)
    var canvasHeight = canvasDimensions[0]
    var canvasWidth = canvasDimensions[1]
    if (canvasHeight != canvasWidth) {
      $('#grayscale span').text('Change to Black and White')
      grayscaled = false
      $('body .product-single__photos').addClass('is_loading')
      $('#customily-cart-btn').addClass('button_lockout')
      if (rotated) {
        var newHandle = canvasHeight + 'x' + canvasWidth + '-metal-photo-print'
        rotated = false
      }
      else {
        var newHandle = canvasWidth + 'x' + canvasHeight + '-metal-photo-print'
        rotated = true
      }
      $.getJSON("/products/" + newHandle + '.js', function (product) {
        $('#productTitle').text(product.title)
        $('.breadcrumb').first().find('span:eq(1)').text(product.title)
        $('.hidden_sel').first().val(product.variants[0].id)
        window.customily.options.handle = newHandle
        window.customily.initialize()
        if (!listenerAdded) {
          listenerAdded = true;
          engraver.canvasWrapper.addEventListener('productLoaded', function () {
            engraver.setImage(1, baseImage)
          })
        }
      })
      var imageFullyUploaded = setInterval(function () {
        if (engraver.initReady) {
          setTimeout(function () {
            $('#customily-cart-btn').removeClass('button_lockout')
            $('body .product-single__photos').removeClass('is_loading')
          }, 1000)
          clearInterval(imageFullyUploaded)
        }
      }, 500)
    }
  }
</script>