<!--div class="guarantee--bar">
	<div class="bar--wrapper wrapper">
		<div class="item-info">
			<div class="icon"><i class="gf_icon fa fa-plane"></i></div>
			<div class="desc"><p>FREE SHIPPING ON ORDERS OVER $150</p></div>
		</div>

		<div class="item-info">
			<div class="icon"><i class="gf_icon fa fa-rotate-right"></i></div>
			<div class="desc"><p>FREE RETURNS WORLDWIDE</p></div>
		</div>

		<div class="item-info">
			<div class="icon"><i class="gf_icon fa fa-shield"></i></div>
			<div class="desc"><p>2 YEAR WARRANTY ON ALL PRODUCTS SOLD ONLINE</p></div>
		</div>

		<div class="item-info">
			<div class="icon"><i class="gf_icon fa fa-shopping-cart"></i></div>
			<div class="desc"><p>100% SAFE AND SECURE CHECKOUT WITH SHOPIFY</p></div>
		</div>
	</div>
</div-->