<div class="main-area">

  <div class="body-content-inner">

    <div class="section-header banner-faq">
      <h1 class="section-header--title">{{ page.title }}</h1>
    </div>

    <div class="rte">
      <div class="container wrapper">
         {{ page.content }}
      </div>
    </div>

  </div>

</div>
